*.bak
*.csproj.user
*.suo

/.vs/
/DK.Common/bin/
/DK.Common/obj/
/DK.Common.Tests/bin/
/DK.Common.Tests/obj/
/DK.Implementation.Windows/bin/
/DK.Implementation.Windows/obj/
/DkTools/bin/
/DkTools/obj/
/packages/
/TestResults/
/Tests/bin/
/Tests/obj/
